#greycol{
    color: gray;
}

.yellow{
    color: yellow;
}
 
h3:first-child{
    color: pink;
}

.text-box>div>p{
    color: red;
}

p:nth-child(7){
    color: green;
}

.list-item:first-child{
 color: blue;
}

.list-item:nth-child(3):hover{
font-size: 20px;
color: pink;
}
.list-item:nth-child(even){
    background-color: brown;
}

.list-item:last-child:visited{
    color: red;
}

